@charset "UTF-8";

body{
    background-color: rgb(255, 233, 186);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20pix;
}

h1{
    color: rgb(189, 3, 3);
    background-color: rgb(229, 210, 63);
}

h2{
    color: rgb(224, 56, 56);
}

p{
    text-align: justify;
}

a{
    color: black;
}
